html, body {
  background-color: #000;
  color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 1%;
}

header {
  font-weight: bold;
  font-size: 115%;
  text-align: center;
}

h1, h2 {
  text-align: center;
}

a {
  font-weight: bold;
  color: #1E90FF
}

nav {
  font-weight: bold;
  width: 90%;
  margin-left: 5%;
}

nav a, nav a:visited {
  color: #1E90FF;
  text-decoration: none;
  float: right;
  margin-right: 5%;
}

a:visited {
  color: #FF1E90
}

main {
  width: 75%;
  margin-left: 4%;
  margin-top: 10vh;
  float: left;
}

section, article {
  margin-top: 10vh;
}

aside {
  float: right;
  width: 15%;
  margin-top: 30vh;
  margin-left: 1.5%;
  margin-right: 3.5%;
}

footer {
  position: aboslute;
  width: 98%;
  text-align: center;
  margin-top: 5vh;
  right: 0;
  bottom: 0;
}

.bgRed, .bgBlue, .bgGreen, .bgGrey, .bgGray, .bgDarkGray, .bgDarkGrey, .buttonGrey, .buttonGray, .buttonDarkGrey, .buttonDarkGray .buttonRed, .buttonBlue, .buttonGreen, .thin, .wide, .short, .tall {
  border-radius: 4px;
  padding: 1%;
}

.bgRed, .buttonRed { 
	background-color: #FF1E90; 
}

.bgBlue, .buttonBlue { 
	background-color: #1E90FF; 
}

.bgGreen, .buttonGreen { 
	background-color: rgb(20, 190, 48); 
}

.red { 
	color: #FF1E90; 
}

.blue { 
	color: #1E90FF; 
}

.green { 
	color: rgb(20, 190, 48); 
}

.glowRed { 
  text-shadow: 0 0 2px #eee, 0 0 2px #eee, 0 0 2px #FF1E90, 0 0 4px #FF1E90, 0 0 4px #FF1E90, 0 0 4px #FF1E90, 0 0 4px #FF1E90;
}

.glowBlue { 
  text-shadow: 0 0 2px #eee, 0 0 2px #eee, 0 0 2px #1E90FF, 0 0 4px #1E90FF, 0 0 4px #1E90FF, 0 0 4px #1E90FF, 0 0 4px #1E90FF; 
}

.glowGreen { 
  text-shadow: 0 0 2px #eee, 0 0 2px #eee, 0 0 2px rgb(20, 190, 48), 0 0 4px rgb(20, 190, 48), 0 0 4px rgb(20, 190, 48), 0 0 4px rgb(20, 190, 48), 0 0 4px rgb(20, 190, 48); 
}

.buttonRed, .buttonBlue, .buttonGreen, .buttonGrey, .buttonGray, .buttonDarkGrey, .buttonDarkGray {
  text-decoration: none;
  font-weight: bold;
  border: none;
  color: #eee;
}

.wide { 
	width: 33%; 
}

.thin { 
	width: 11%; 
}

.tall { 
	height: 33vh; 
}

.short { 
	height: 11vh; 
}

.author {
  text-align: right;
}

b, u, strong, i {
  color: #FF1E90;
}

del {
  color: rgb(20, 190, 48);
}

form {
  border: solid grey;
  padding: 2vh;
  margin-top: 5vh;
}

input, select {
  border: solid dodgerblue;
  background-color: black;
  color: #eee;
  border-width: 2px;
  padding: .5%;
  border-radius: 2px;
}

canvas {
  background-color: white;
  border: solid #1E90FF;
  border-radius: 4px;
  border-width: 2px;
}

figure {
	width: 30%;
	display: inline-block;
}

.leftimg { 
	float: left; 
}

.rightimg { 
	float: right; 
}

figure img {
	width: 100%;
}

figcaption {
	text-align: center;
	color: grey;
}

.grey { 
	color: grey; 
}

.darkGrey { 
	color: #3e3e3e; 
}

.bgGrey { 
	background-color: grey; 
}

.bgDarkGrey { 
	background-color: #3e3e3e; 
}

.gray { 
	color: grey; 
}

.darkGray { 
	color: #3e3e3e; 
}

.buttonGrey, .buttonGray {
	color: #111;
	background-color: grey;
}

.buttonDarkGrey, .buttonDarkGray {
	background-color: #3e3e3e;
}

.bgGray { 
	background-color: grey; 
}

.bgDarkGray { 
	background-color: #3e3e3e; 
}

.glowGrey, .glowGray {
	text-shadow: 0 0 2px #eee, 0 0 2px #eee, 0 0 2px grey, 0 0 4px grey, 0 0 4px grey, 0 0 4px grey, 0 0 4px grey; 
}

.glowDarkGrey, .glowDarkGray {
	  text-shadow: 0 0 2px #eee, 0 0 2px #eee, 0 0 2px #3e3e3e, 0 0 4px #3e3e3e, 0 0 4px #3e3e3e, 0 0 4px #3e3e3e, 0 0 4px #3e3e3e; 
}

.borderRed, .borderGreen, .borderBlue, .borderGrey, .borderGray, .borderDarkGrey, .borderDarkGray {
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
  padding: 1%;	
}

.borderRed {
	border-color: #FF1E90;
}

.borderGreen {
	border-color: rgb(20, 190, 48);
}

.borderBlue {
	border-color: #1E90FF;
}

.borderGrey, .borderGray {
	border-color: grey;
}

.borderDarkGrey, .borderDarkGray {
	border-color: #3e3e3e;
}